Repository rust-console/gba, pull requests merged in 2019-02, with the labels that each got.

#64 Lokathor
  .travis.yml
  book/src/SUMMARY.md
  book/src/bitmap-video.md
  book/src/development-setup.md
  book/src/gba-asm.md
  book/src/io-registers.md
  book/src/the-hardware-memory-map.md
  book/src/volatile.md
  src/lib.rs
Labels: book

#69 Add interrupt request handling mechanism
  crt0.s
  examples/hello_magic.rs
  examples/irq.rs
  src/bios.rs
  src/io.rs
  src/io/display.rs
  src/io/irq.rs
  src/io/keypad.rs
Labels: ASM, coverage, enhancement

#65 IO Registers + Bitmap book section
  Cargo.toml
  book/src/bitmap-video.md
  book/src/io-registers.md
  examples-bak/bg_demo.rs
  examples-bak/mgba_panic_handler.rs
  examples/hello_world.rs
  examples/irq.rs
  examples/light_cycle.rs
  rustfmt.toml
  src/base/fixed_point.rs
  src/io/color_blend.rs
  src/io/display.rs
  src/io/keypad.rs
  src/io/sound.rs
  src/io/window.rs
  src/lib.rs
  src/macros.rs
  src/mgba.rs
  src/vram.rs
  src/vram/bitmap.rs
Labels: book

#74 Update IME to be `u16` sized, avoid newtype_enum
  examples/irq.rs
  src/bios.rs
  src/io/irq.rs
Labels: bug
